* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    
    
} 
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    background-color: #99846d;
    
}
.navbar {
    background-color: #ac712e;
    font-family: Arial, sans-serif;
    font-size: 1.2rem;
    align-items: center;
    padding: 10px 20px;
    display: flex;
    justify-content:center;
    z-index: 1000;
    position: sticky;
    top: 0;
    transition: all 0.3s ease;
    width: 100%;
    height: 10vh;
    
    
}
.navbar_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;   
    
}

 .Title {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: absolute;
    top: 5%;
    left: 50%;
    right: 50%;
 }
.navbar .logo a {
    font-size: 2rem;
    font-weight: bold;
    position: absolute;
    left: 0px;
    text-decoration: none;
    color: #fff;
    
}
.nav_menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;

}
.navbar_links {
color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;

}
.navbar_links:hover {
    color: rgb(190, 161, 161);
    transition: all 0.3s ease;
}

.nav-itens {
    height: 80px;
}
#banner {
    background: url('link-da-sua-imagem-de-banner.jpg') no-repeat center center/cover;
    height: 90vh;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .btn-banner {
    margin-top: 20px;
    background-color: #ac712e;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 20px;
    
  }
  
  #cardapio {
    padding: 50px 20px;
    text-align: center;
    transition: all 0.3s ease;
    background-color: antiquewhite;
  }
  .grid-cardapio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    margin-top: 30px;
  }
      .swiper {
      width: 400px;
      height: 400px;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 20%;
    }
 
  
  #sobre {
    padding: 50px 20px;
    background: #fff0f5;
    text-align: center;
  }
  
  #contato {
    padding: 50px 20px;
    text-align: center;
  }
  
  .social-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 100;
    list-style: none;

}
  .links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1.5rem;
    font-size: 50px;
    color: white;
    text-decoration: none;
    font-weight: 100;
    transition: all 0.2s;
}

#instagram{
    background: linear-gradient(#7f37c9,#ff2992, #ff9807);
    background-size: 200%;
    background-position: 0% 50%;
    animation: 5s ease infinite;
    background-clip: text;
    background-clip: text;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    font-size: 50px;
    font-weight: 100;
    transition: all ease 0.2s;
    border-radius: 20px;
    padding: 0.5rem;
}
#instagram:hover {
    transform: scale(1.05);
}
#whatsapp {
    background-color: #25d366;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    font-size: 50px;
    font-weight: 100;
    transition: all ease 0.2s;
    
}
#whatsapp:hover {
    transform: scale(1.05);
}
  
  footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px;
  }
  
@media screen and (max-width: 960px) {
    body {
        overflow-x: hidden;
    }
    .navbar_container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }
    .nav_menu {
        flex-direction: column;
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        right: 0%;
    }
    .nav_menu.active {
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        background-color: #ac712e;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
        max-width: 100%;
        padding: 0;
        right: 0%;
        border-top: #333 solid 1px;
        
    }
    .logo {
        padding-left: 25px;

    }
    .toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    
    }
    .nav-itens {
        width: 100%;
    }       
    .navbar_links {
        text-align: center;
        padding: 2rem; 
        width: 100%;
        display: table;
    }
    #Mobile_menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);

    }
    .toggle .bar {
        display: block;
        cursor: pointer;

    }
    #Mobile_menu.is-active .bar:nth-child(2) {
        opacity: 0;  
    }
    #Mobile_menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg); 
    }
    #Mobile_menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg); 
    }
    .Nav-Title {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        position: absolute;
        top: 20%;
        left: 50%;
        right: 50%;
    }
    
}
@media screen and (max-width: 825px) {
    .grid-cardapio {
        grid-template-columns: repeat(1 , 1fr);
        gap: 20px;

    }
    .btn-banner {
        padding: 8px 16px;
        font-size: 0.9rem;
    }
    .btn-contato {
        padding: 8px 16px;
        font-size: 0.9rem;
    }

}
